@model market_manager.Models.Reservas
@{
    ViewData["Title"] = "Reservas";
}

<h1>Adicionar</h1>
<h4>Reservas</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DataInicio" class="control-label"></label>
                <input asp-for="DataInicio" class="form-control" />
                <span asp-validation-for="DataInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFim" class="control-label"></label>
                <input asp-for="DataFim" class="form-control" />
                <span asp-validation-for="DataFim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Bancas</label>
                <div class="col-md-4">
                    <div class="banca-card-container">
                        @foreach (var banca in ViewData["Bancas"] as List<market_manager.Models.Bancas>)
                        {
                            <div class="banca-card" data-banca-id="@banca.BancaId">
                                <img src="~/FotosBancas/@banca.FotografiaBanca" alt="Banca Image">
                                <h5>@banca.NomeIdentificadorBanca</h5>
                                <p>Categoria: @banca.CategoriaBanca</p>
                                <p>Localizacao: (@banca.LocalizacaoX, @banca.LocalizacaoY)</p>
                                <input type="checkbox" name="SelectedBancaIds" value="@banca.BancaId" />
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Voltar à Listagem</a>
</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const bancaCards = document.querySelectorAll('.banca-card');
            bancaCards.forEach(card => {
                card.addEventListener('click', function () {
                    const checkbox = this.querySelector('input[type="checkbox"]');
                    checkbox.checked = !checkbox.checked;
                    this.classList.toggle('selected');
                });
            });
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}