@model market_manager.Models.Reservas

@{
    ViewData["Title"] = "Reservas";
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}

<h1>Detalhes</h1>

<div>
    <h4>Reservas</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Utilizador)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Utilizador.CC)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataFim)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataFim)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataCriacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataCriacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoActualReserva)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstadoActualReserva)
        </dd>
        @if (User.IsInRole("Vendedor") && Model.EstadoActualReserva == Reservas.EstadoReserva.Aprovada)
        {
            <a asp-action="DownloadPdf" asp-route-id="@Model.ReservaId" class="btn btn-primary">Download PDF</a>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ReservaId">Editar</a> |
    <a asp-action="Index">Voltar à Listagem</a>
</div>