@model IEnumerable<market_manager.Models.Reservas>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Utilizador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCriacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoActualReserva)
            </th>
            <th>
                Bancas
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>

                    @Html.DisplayFor(modelItem => item.Utilizador.CC)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCriacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoActualReserva)
            </td>
            <td>
                    @if (item.ListaBancas != null && item.ListaBancas.Any())
                    {
                        <ul>
                            @foreach (var banca in item.ListaBancas)
                            {
                                <li>
                                    @banca.NomeIdentificadorBanca
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <span>
                            Sem bancas associadas.
                        </span>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ReservaId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ReservaId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ReservaId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


