@model market_manager.Models.Bancas

@{
    ViewData["Title"] = "Bancas";
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}

<form id="edit-form" asp-action="Edit" enctype="multipart/form-data">
    <nav class="navbar navbar-top">
        <div class="container-fluid">
            <a asp-action="Index" class="btn btn-secondary">Voltar</a>
            <button type="submit" form="edit-form" class="btn btn-primary">Guardar</button>
        </div>
    </nav>

    <h1>Bancas</h1>
    <h4>Editar Banca</h4>
    <hr />

    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BancaId" />
            <div class="form-group">
                <label asp-for="NomeIdentificadorBanca" class="control-label"></label>
                <input asp-for="NomeIdentificadorBanca" class="form-control" />
                <span asp-validation-for="NomeIdentificadorBanca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoriaBanca" class="control-label"></label>
                <select asp-for="CategoriaBanca" class="form-control" asp-items="@Html.GetEnumSelectList<Bancas.CategoriaProdutos>()">
                    <option value="">Selecione a Categoria da Banca</option>
                </select>
                <span asp-validation-for="CategoriaBanca" class="text-danger"></span>
            </div>
            <partial name="_MatrixPartial" model="new MatrixModel()" />
            <div class="form-group">
                <label asp-for="LocalizacaoX" class="control-label"></label>
                <input asp-for="LocalizacaoX" class="form-control" readonly />
                <span asp-validation-for="LocalizacaoX" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocalizacaoY" class="control-label"></label>
                <input asp-for="LocalizacaoY" class="form-control" readonly />
                <span asp-validation-for="LocalizacaoY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LarguraAux" class="control-label"></label>
                <input asp-for="LarguraAux" class="form-control" />
                <span asp-validation-for="LarguraAux" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComprimentoAux" class="control-label"></label>
                <input asp-for="ComprimentoAux" class="form-control" />
                <span asp-validation-for="ComprimentoAux" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoAtualBanca" class="control-label"></label>
                <select asp-for="EstadoAtualBanca" class="form-control" asp-items="@Html.GetEnumSelectList<Bancas.EstadoBanca>()">
                    <option value="">Selecione o Estado da Banca</option>
                </select>
                <span asp-validation-for="EstadoAtualBanca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="FotografiaBancaInput" class="control-label">Fotografia Banca</label>
                <input id="FotografiaBancaInput" name="FotografiaBancaInput" type="file" class="form-control" value="@ViewData["FotografiaBanca"]" />
            </div>
            <div>
                @if (!string.IsNullOrEmpty(@Model.FotografiaBanca))
                {
                    <a href="#" class="banca-image-link" data-bs-toggle="modal" data-bs-target="#imageModal" data-image-url="@Url.Content($"~/FotosBancas/{@Model.FotografiaBanca}")">
                        <img src="@Url.Content($"~/FotosBancas/{@Model.FotografiaBanca}")" alt="Foto da Banca" style="max-width: 100px; max-height: 100px;" />
                    </a>
                    <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <img id="fullscreenImage" src="" alt="Fullscreen Banca Image" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <span>Sem fotografia.</span>
                }
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const imageModal = document.getElementById('imageModal');
            const fullscreenImage = document.getElementById('fullscreenImage');

            imageModal.addEventListener('show.bs.modal', function (event) {
                const imageLink = event.relatedTarget;
                const imageUrl = imageLink.getAttribute('data-image-url');
                fullscreenImage.setAttribute('src', imageUrl);
            });
        });
    </script>
}