@model market_manager.Models.Utilizadores

@{
    ViewData["Title"] = "Perfil do Utilizador";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-6">
        <dl class="row">
            <dt class="col-sm-4">Nome Completo</dt>
            <dd class="col-sm-8">@Model.NomeCompleto</dd>

            <dt class="col-sm-4">Data de Nascimento</dt>
            <dd class="col-sm-8">@Model.DataNascimento.ToString("dd/MM/yyyy")</dd>

            <dt class="col-sm-4">Telemóvel</dt>
            <dd class="col-sm-8">@Model.Telemovel</dd>

            <dt class="col-sm-4">Morada</dt>
            <dd class="col-sm-8">@Model.Morada</dd>

            <dt class="col-sm-4">Código Postal</dt>
            <dd class="col-sm-8">@Model.CodigoPostal</dd>

            <dt class="col-sm-4">Localidade</dt>
            <dd class="col-sm-8">@Model.Localidade</dd>

            <dt class="col-sm-4">NIF</dt>
            <dd class="col-sm-8">@Model.NIF</dd>

            <dt class="col-sm-4">Email</dt>
            <dd class="col-sm-8">@Model.Email</dd>
        </dl>
    </div>
</div>
